/* -----Custom Fonts--------*/

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -----Common CSS --------*/

*{
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-size:1em;
    line-height:1.5;
    margin:0;
    padding:0;
    background:#f4f4f4;

}
/*Global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
a{
    text-decoration:none;
    color:#BA55D3;
}

.btn{
    color:#ffffff;
    font-size:12px;
    text-transform:uppercase;
    background: #60B0F4;
    padding:10px;
    border-radius:10px;
}
h1{
    font-weight:bold;
    font-size:60px;
    line-height:1.2;
    color: #60B0F4;
}
h2{
    font-weight:bold;
    font-size:40px;
    line-height:1.2;
    color: #60B0F4;
}
h3{
    font-weight:bold;
    font-size:20px;
    line-height:1.2;
     color: #60B0F4;
}
/* header */
header{
    background:#ffffff;
    color: #60B0F4;
}
header a{
    color: #60B0F4;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1em;
}
header li{
    list-style:none;
}
header .currentpg a:hover{
    color: #60B0F4;
}
header a:hover{
    color:#BA55D3;
}
header #currentpg{
  color:#60B0F4;
}

/*Middle part Except header and footer*/

h1, h2, h3, .customerName {
	color: #60B0F4;
}

#jumbotron {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#jumbotron > video {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

#jumbotron > .btn {
	background: #60B0F4;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#jumbotron > .btn:hover {
	background: #BA55D3;
}

.explore>img{
	width: 350px;
}
.events>img {
	width: 350px;
}

#reviews>.comments>img{
	width: 150px;
	height: 150px;
	object-fit: cover;
}

#gallery {
	display: flex;
	flex-flow: row wrap;
	margin: 5px;
}

#gallery>img {
	padding: 5px;
	flex: auto;
	justify-content: space-between;
	object-fit: cover;
	max-height: 300px;
}

header #currentpg {
     color: #60B0F4;
}
/* boxes*/
#boxes{
    margin-top:20px;
}
#boxes h2{
    color: #60B0F4;
    font-family: 'Montserrat', sans-serif;
    font-size:2em;
    font-weight:bold;
}
#boxes h3{
    color:#60B0F4;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
}
#boxes p{
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

/* Newsletter */
#newsletter h3{
    color: #60B0F4;
    font-family: 'Luckiest Guy', cursive;
    font-size:2em;
}
#lname{
    font-family: 'Montserrat', sans-serif;
    color:black;
}

div#directions,#rules,#travel,#faq{
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    
}
#map img{
    width:80%;
    height:auto;
}
/* Footer */
footer{
    margin-top:20px;
    font-size:16px;
}
footer ul{
    text-transform:uppercase;
}
footer li{
    link-style:none;
}
footer #links a{
     color:#BA55D3;
     font-size:1rem;

}
footer #icons a{
     text-decoration:none;
     color:#BA55D3;
}

footer .copyright{
    color:#BA55D3;
}


#directions .grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

#directions .grid-item {
    text-align: left;
}

#doublegrid .grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: 400px auto ;
}

#doublegrid .grid-item {
    text-align: left;
}

#doublegrid .grid-item h3{
    margin-top: 0px
}


@media only screen and (max-width: 600px){
    .container{
        width:90%
    }
    #directions .grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: auto;
    }
    img{
        width:100%;
        height: auto;
    }
    
}
        
@media only screen and (max-width: 600px){
    #doublegrid .grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: auto;
}

 