/* -----Custom Fonts--------*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@300;400;500;700&display=swap')
/* -----Common CSS --------*/

*{
    box-sizing:border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-size:1em;
    line-height:1.5;
    margin:0;
    padding:0;
    background:#f4f4f4;

}
/*Global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

div#directions,#rules,#travel,#faq{
    background-color: white;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;

}
a{
    text-decoration:none;
    color:#BA55D3;
}
h1{
    font-weight:300;
    font-size:60px;
    line-height:1.2;
    margin-bottom:15px;
    text-align: center;
}
h2{
    font-weight:350;
    font-size:30px;
    line-height:1.2;
    margin-bottom:10px;
}
h3{
    font-weight:350;
    font-size:20px;
    line-height:1.2;
    margin-bottom:10px;
}
h4{
    font-weight:300;
    font-size:20px;
    line-height:1.2;
    margin-bottom:10px;
}
/* header */
header{
    background:#ffffff;
    color:#1E90FF;
    padding-top:30px;
    min-height:70px;
    border-bottom:#BA55D3 solid 3px;
}
header a{
    color:#1E90FF;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1em;
}
header ul{
    margin:0;
    padding:0;
}
header li{
    display:inline;
    padding:0 15px 0 15px;
}
header #logo{
    float:left;
}
header nav{
    float:right;
    margin-top:30px;
}
header .currentpg a{
    border:#BA55D3 solid 2px;
    padding:5px;
}
header .currentpg a:hover{
    color:#BA55D3;
     border:#1E90FF solid 2px;
     padding:5px;
}
header a:hover{
    color:#BA55D3;
}
@media(max-width:700px){
    header #logo,
    header nav,
    header li{
        float:none;
        text-align:center;
        width:100%;
    }
    header .currentpg{
        padding-bottom:10px;
    }
}


/* Footer */
footer{
    text-align:center;
    background:linear-gradient(4.6rad,#1E90FF,white,#BA55D3);
    padding:10px;
    font-size:1rem;
}
footer  li{
    text-decoration:none;
    display:inline;
    margin:0 5px 5px 10px;

}
footer #links a{
     color:#BA55D3;
     font-size:1rem;

     margin-right:2px;
}

#icons a{
     color:#BA55D3;
     margin:2px;
}

footer .copyright{
    color:#BA55D3;
}
